* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.container {
  max-width: 1080px;
  width: 100%;
  margin: auto;
  height: inherit;
}

.container.small {
  max-width: 920px;
}

.container.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.flex-container {
  display: flex;
  align-items: center;
  height: inherit;
}

.whitespace {
  flex-grow: 1;
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
  height: inherit;
}

a {
  text-decoration: none;
}

.btn {
  display: flex;
  align-items: center;
  padding: 7.5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.btn.default {
  color: white;
  background-color: #0480F6;
}

.btn.invisible {
  color: white;
  border: 2px solid #0480F6;
  background-color: transparent;
}

.firstheader {
  background-color: #0480F6;
  color: white;
}

.firstheader .header-option {
  padding: 1.875px 0 1.875px 30px;
  font-size: 12.5px;
  font-weight: 400;
}

.secondheader {
  height: 80px;
}

.secondheader .logo-container {
  height: 80px;
  width: 60px;
  height: 60px;
  margin: 15px;
}

.secondheader .logo-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.secondheader li {
  padding: 0 15px;
  border-bottom: 4px solid transparent;
  height: 80px;
}

.secondheader li a {
  color: black;
  font-weight: 400;
  font-size: 15px;
  line-height: 80px;
}

.secondheader li a span {
  color: #0480F6;
  font-size: 10px;
  vertical-align: baseline;
}

.secondheader li.clicked {
  color: #0480F6;
  border-bottom: 4px solid #0480F6;
  transition: 0.3s;
}

.secondheader .searchbar {
  margin-left: 15px;
  border-bottom: 1px solid #0480F6;
  padding-left: 30px;
  font-size: 15px;
}

.jumbotron {
  height: 500px;
}

.jumbotron img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 0;
     object-position: 50% 0;
}

section {
  background-color: black;
  position: relative;
}

section .blacksection {
  padding: 15px 0;
}

section .blacksection .abs-btn {
  font-weight: 700;
  font-size: 20px;
  position: absolute;
  top: -18px;
}

section .blacksection .card-container {
  display: flex;
  align-items: center;
  padding: 45px 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

section .blacksection .card-container .card {
  width: calc(100% / 6);
  height: 200px;
  padding: 30px;
}

section .blacksection .card-container .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

section .blacksection .card-container .card h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
}

section .blacksection .btn {
  margin: auto;
}

section .blue-bar {
  height: 60px;
  background-color: #0480F6;
  position: relative;
}

section .blue-bar img {
  width: 150px;
  position: absolute;
  bottom: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

section .blue-container {
  background-color: #0480F6;
  padding: 60px;
  margin-bottom: -7.5px;
}

section .blue-container ul {
  justify-content: space-around;
}

section .blue-container ul li img {
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  vertical-align: middle;
  margin: 15px;
}

section .blue-container ul li a {
  color: white;
  font-weight: 400;
}

section .whitesection {
  background-color: white;
  padding: 30px 0;
}

section .whitesection .comic-text {
  width: calc((100% /3)*2);
}

section .whitesection .comic-text h2 {
  font-weight: 700;
  font-size: 25px;
  padding: 30px 0;
}

section .whitesection .comic-text .price-bar {
  display: flex;
  align-items: center;
  background-color: #55BA59;
  color: #B9F980;
  height: 40px;
}

section .whitesection .comic-text .price-bar p {
  padding: 0 5px;
}

section .whitesection .comic-text .price-bar .white {
  color: white;
}

section .whitesection .comic-text .price-bar .status {
  height: 40px;
  line-height: 40px;
  border-right: 1px solid #367739;
}

section .whitesection .comic-text p {
  padding: 15px 0;
  font-weight: 400;
}

section .whitesection .adv-container {
  text-align: right;
  font-size: 20px;
  font-weight: 400;
  color: #555555;
}

section .whitesection .adv-container img {
  padding: 15px 0 15px 15px;
}

section .greysection {
  background-color: #F6F6F6;
  padding: 30px 0;
}

section .greysection .talent,
section .greysection .specs {
  width: calc((100%/2) - 15px);
  margin-right: 15px;
  float: left;
}

section .greysection .talent h2,
section .greysection .specs h2 {
  padding-bottom: 37.5px;
  border-bottom: 1px solid #E3E3E3;
}

section .greysection .talent p,
section .greysection .specs p {
  padding: 7.5px 0;
  border-bottom: 1px solid #E3E3E3;
}

section .greysection .talent a,
section .greysection .specs a {
  color: #0480F6;
}

section .greybar {
  padding: 15px 0;
  background-color: #F6F6F6;
  border-top: 1px solid #E3E3E3;
}

section .greybar ul {
  justify-content: space-between;
}

section .greybar ul li {
  padding: 0 15px;
}

section .greybar ul li a {
  color: #D8D8D8;
  font-weight: 700;
}

.firstfooter {
  height: 450px;
  background-image: url("/images/footer-bg.jpg");
  background-size: 100% 450px;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: relative;
  overflow: hidden;
}

.firstfooter .col-4 {
  width: calc(100%/3);
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.firstfooter .col-4 .paragraph {
  text-align: center;
  padding: 15px;
}

.firstfooter .col-4 .paragraph h2 {
  color: white;
}

.firstfooter .col-4 .paragraph a {
  color: #797979;
  padding: 5px;
  display: block;
}

.firstfooter p {
  position: absolute;
  bottom: 15px;
  color: #797979;
}

.firstfooter p a {
  color: #0480F6;
}

.firstfooter .img-container {
  position: absolute;
  left: 70%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.secondfooter {
  background-color: #303030;
  padding: 22.5px;
}

.secondfooter .socialfolder h3 {
  color: #0480F6;
  margin: 0 5px;
}

.secondfooter .socialfolder a {
  margin: 0 5px;
}

