.firstheader{
    background-color: $primary_color;
    color: $background_color;
    .header-option{
        padding: $base_spacing/8 0 $base_spacing/8 $base_spacing *2;
        font-size: $base_font_size *2.5;
        font-weight: $regular_font;
    }
}
.secondheader{
    height: 80px;
    .logo-container{
        height: 80px;
        width: $base_spacing*4;
        height: $base_spacing*4;
        margin: $base_spacing;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    
    li{
        padding: 0 $base_spacing;
        border-bottom: 4px solid transparent;
        height: 80px;
        a{
            color: black;
            font-weight: $regular_font;
            font-size: $base_font_size *3;
            line-height: 80px;
            span{
                color: $primary_color;
                font-size: $base_font_size*2;
                vertical-align: baseline;
            }
        }

        &.clicked{
            color: $primary_color;
            border-bottom: 4px solid $primary_color;
            transition: .3s;

        }
        
    }

    .searchbar{
        margin-left: $base_spacing;
        border-bottom: 1px solid $primary_color;
        padding-left: $base_spacing*2;
        font-size: $base_font_size *3;
    }
}
