.jumbotron {
    height: 500px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 0;
    }
}

section {
    background-color: $main_background_color;
    position: relative;
    padding: $base_spacing/2 0;

    .abs-btn {
        font-weight: $bold_font;
        font-size: $base_font_size * 4;
        position: absolute;
        top: -18px;
    }
    .card-container {
        @include flex_default;
        padding: $base_spacing*3 0;
        flex-wrap: wrap;
        justify-content: space-between;

        .card {
            width: calc(100% / 6);
            height: 200px;
            padding: $base_spacing * 2;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
            }

            h3 {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                color: $background_color;
                
            }
        }
    }

    .btn{
        margin: auto;
    }
}

.blue-container{
    background-color: $primary_color;
    padding: $base_spacing*4;
    margin-bottom: -$base_spacing/2;

    ul{
        justify-content: space-around;
        li{

            img{
                width: 50px;
                height: 50px;
                object-fit: contain;
                vertical-align: middle;
                margin: $base_spacing;
            }

            a{
                color: $background_color;
                font-weight: $regular_font;
            }
        }
    }

}
